.container {
  width: 80%;
  margin: auto;
  background-color: whitesmoke;
  padding: 1rem;
  height: 80vh;
  border-radius: 10px;
  text-align: center;
}

.sub-container {
  background-color: tomato;
  border-radius: 10px;
  width: 60vw;
  margin: auto;
  padding: 1rem;
}

button {
  margin-top: 1rem;
  margin: auto;
  padding: 0.4rem;
}

input,
label {
  display: block;
  margin: auto;
  color: navy;
}

p {
  text-align: center;
  color: #3d33c9;
  font-weight: bold;
}

.social-media {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

li {
  display: inline;
  margin-left: 30%;
}

footer {
  width: 80%;
  margin: auto;
  background-color: tomato;
  padding: 1rem;
  border-radius: 10px;
  font-weight: bold;
}

#footer-text {
  text-align: center;
  color: whitesmoke;
}

#date-formats {
  display: block;
  margin: auto;
}

.dateforms {
  margin: auto;
  display: block;
}
